{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
          {% for tag in tags %}
        <div class="col-sm" style="background-color: #948888; opacity: 0.5;">
            <h3><a href="{% url 'list' tag.slug %}" style="color: black;">{{ tag.title }}</a></h3>
        </div>
          {% endfor %}
      </div>
    </div>

    <div class="row" style="background-color: #948888; opacity: 0.9; margin:30px; padding: 10px;">
        {% for post in posts %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.name|truncatewords:9 }}</h5>
            <p class="card-text"></p>
            <a href="{% url 'detail' post.slug %}" class="btn btn-primary" style="background-color: #481d69; opacity: 0.8; padding: 15px;">Read more...</a>
          </div>
        </div>
      </div>
         {% endfor %}
    </div>

{% endblock %}
